body{
	background-color: #3E3F49;
	color: #FFFFFF; /*white*/
	padding: 0;
	margin: 0;
}
#container{
	background-color: #5F5F6B;
	width: 1000px;
	min-height: 700px;
	margin-left: auto;
	margin-right: auto;
}
#top{
	background-color: #7F7F8F;
	width: 960px;
	height: 110px;	
	padding:20px;
	text-align:center;
	font-size:50px;
}
#content{
	width: 960px;
	min-height: 460px;
	background-color: #3E3F49;
	padding: 20px;
}
#footer{
	width: 960px;
	min-height: 20px;
	background-color: #000000;
	padding: 20px;
}