body{
	background-color: #3E3F49;
	color: #FFFFFF; /*white*/
	padding: 0;
	margin: 0;
}
#container{
	background-color: #5F5F6B;
	width: 1000px;
	min-height: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
#top{
	background-image: linear-gradient(#7F7F8F, #3E3F49);
	
	width: 960px;
	height: 110px;	
	padding:20px;
	text-align:center;
	font-size:50px;
}
#content{
	width: 960px;
	min-height: 460px;
	background-color: #3E3F49;
	padding: 20px;
}
#footer{
	width: 960px;
	min-height: 20px;
	background-color: #000000;
	padding: 20px;
	text-align:center;
}
.gameChoice{
	font-size:35px;
	width: 240px;
	min-height: 50px;
	float:left;
	margin: 20px;
	padding: 20px;
	background-color: #000000;
	text-align:center;
	vertical-align: middle;
	border-radius: 30px;
}
.gameChoice:hover{
	background-color: #333333;
}
a{
	text-decoration:none;
	color: #FFFFFF;
}
#game{
	background-color:#FFFFFF;
	color:#000000;
	width:480px;
	height:250px;
	border: 5px solid #666666;
	margin-left:auto;
	margin-right:auto;
}
.rod{
	background-image: url("hanoiPic/background.png");
	width:155px;
	border: 2.5px solid #999999;
	float: left;
	color: #999999;
}