body{
	background-color: #3E3F49;
	color: #FFFFFF; 
	padding: 0;
	margin: 0;
}

.top{
	background-image: linear-gradient(#7F7F8F, #3E3F49);
	min-height: 110px;	
	padding:20px;
	text-align:center;
	font-size:50px;
}
#content{
	min-height: 600px;
	background-color: #3E3F49;
	text-align: center;
	color:#FFFFFF;
}
#footer{
	color:#CCCCCC;
	min-height: 20px;
	background-color: #000000;
	padding: 20px;
	text-align:center;
}
.gameChoice{
	width:100%;
	height:90%;
	padding:5%;
	display: inline-block;
	font-size:35px;
	background-color: #000000;
	text-align:center;
	border-radius: 30px;
	margin-bottom:20px;
}
.gameChoice:hover{
	background-color: #333333;
}

a{
	text-decoration:none;
	color: #FFFFFF;
}
#game{
	background-color:#FFFFFF;
	width:50%;
	min-height:250px;
	border: 5px solid #666666;
	margin-left:auto;
	margin-right:auto;
}
.rod{
	background-image: url("hanoiPic/background.png");
	background-position:center;
	width:33%;
	
	float: left;
}
#game img{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:49px;
}
